
.form__group {
    width: 75%;
    height: 300px;
    background-image: url("/images/Homebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    h1{
        color: #eaeaea;
        
    }


    .wrapper{
        height: 130%;
        margin-left: 60px;
        margin-right: 50px;
        margin-top: 5rem;
        margin-bottom: 100px;
        padding: 50px;
        width: 90%;
        height: 400px;
        background-color: #000000;
        border-radius: 50px;
    }
    .btnnote{
        height: 60%;
        width: 20%;
      
        padding: 50px;
        background-color: #000000;
        border-radius: 30px;
        color: #ddff00;
        border-width:thick;
        background-image: url("/images/plus.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50% 35%;
        border-color: #ddff00;
    }
    .text{
        margin-left: 80px;
        // margin-top: 200px;
    }
    .text2{
        font-weight: bolder;
        color: #ddff00;
        text-align: center;
        font-family: cursive;
        position: absolute;
        bottom: 20%;
        margin-left: -1%;
    
    
    }
}
