
.form__group {
    width: 85%;
    height: 500px;
    background-image: url("/images/Homebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    h1{
        color: #eaeaea;
        
    }
    .wrapper{
        height: auto;
        margin-left: 60px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 100px;
        padding: 50px;
        background-color: #000000;
        border-radius: 50px;
    }
    .btnnote{
        height: 400px;
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 100px;
        padding: 50px;
        background-color: #000000;
        border-radius: 50px;
        font-size: large;
        color: #ddff00;
        font-family: cursive;
        border: #ddff00;
        border: solid;
        
    }
    .text{
        margin-left: 80px;
        margin-top: 200px;
    }
}
