

  .labelForm {
    width: 40%;
    height: 24px;
    left: 119px;
    margin: 10px 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;

    color: #154024;
  }
