/*
	@name 2_signup___2
*/
/* Only edit this if you know what you are doing! */
// body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
// img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

// /* Only edit this if you know what you are doing! */
// div { position: absolute; }

// #root { width: 100%; } 
.content-container { display: table; position: relative; width: 1228px; width: 1228px; height: 820px; overflow: hidden; display: block; height: stretch;  margin-left: auto; margin-right: auto;  }

.bg_signup {
	top: 0px;
	left: 0px;
	width: 1228px;
	height: 820px;
	background:rgba(255,255,255,255);
}

.groupe_23 {
	top: 0px;
	left: 234px;
	width: 994px;
	height: 377px;
}

.kelly_sikkema{
	top: 0px;
	left: 0px;
	width: 994px;
	height: 377px;
}


.kelly_ek1 {
	opacity:0.3453;
	top: 0px;
	left: 5px;
	width: 989px;
	height: 377px;
	background:rgba(0,0,0,255);
}


.rectangle_39 {
	top: 0px;
	left: 0px;
	width: 239px;
	height: 820px;
	background:rgba(0,0,0,255);
}


.ellipse_7 {
	top: 12px;
	left: 14px;
	width: 32px;
	height: 31px;
}


.greennote_team {
	top: 20px;
	left: 59px;
	width: 105px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#fbfafb;
}

.icon_feather_settings {
	top: 19.3935546875px;
	left: 207.099609375px;
	width: 16.212890625px;
	height: 16.21337890625px;
}

.trac__12 {
	top: 5px;
	left: 5px;
	width: 5.72265625px;
	height: 5.7216796875px;
}


.trac__13 {
	top: -1px;
	left: -1px;
	width: 17.513671875px;
	height: 17.51318359375px;
}


.rectangle_38 {
	opacity:0.2285;
	top: 175px;
	left: 0px;
	width: 239px;
	height: 37px;
	background:rgba(206,206,21,255);
}


.groupe_25 {
	top: 67px;
	left: 8px;
	width: 218px;
	height: 37px;
}

.rectangle_36 {
	opacity:0.2198;
	top: 0px;
	left: 0px;
	width: 218px;
	height: 37px;
	-ms-border-radius: 18.5px;
	-o-border-radius: 18.5px;
	-moz-border-radius: 18.5px;
	-webkit-border-radius: 18.5px;
	border-radius: 18.5px;
	background:rgba(206,206,21,255);
}

.groupe_24 {
	top: 11px;
	left: 12px;
	width: 64.5966796875px;
	height: 14.09619140625px;
}
.icon_feather_search {
	top: 1px;
	left: 0px;
	width: 13.1923828125px;
	height: 13.19287109375px;
}

.trac__14 {
	top: -1px;
	left: -1px;
	width: 13.7265625px;
	height: 13.72705078125px;
}


.trac__15 {
	top: 9px;
	left: 9px;
	width: 6.0166015625px;
	height: 6.01708984375px;
}


.search {
	top: 0px;
	left: 26px;
	width: 50px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}

.groupe_27 {
	top: 113px;
	left: 8px;
	width: 218px;
	height: 37px;
}

.rectangle_37 {
	top: 0px;
	left: 0px;
	width: 218px;
	height: 37px;
	-ms-border-radius: 18.5px;
	-o-border-radius: 18.5px;
	-moz-border-radius: 18.5px;
	-webkit-border-radius: 18.5px;
	border-radius: 18.5px;
	background:rgba(206,206,21,255);
}

.groupe_26 {
	top: 11px;
	left: 12px;
	width: 51.5966796875px;
	height: 15.21923828125px;
}
.icon_feather_plus_circle {
	top: 0px;
	left: 0px;
	width: 15.21875px;
	height: 15.21923828125px;
}

.trac__16 {
	top: -1px;
	left: -1px;
	width: 17.21875px;
	height: 17.21923828125px;
}


.trac__17 {
	top: 4px;
	left: 7px;
	width: 2px;
	height: 8.087890625px;
}


.trac__18 {
	top: 7px;
	left: 4px;
	width: 8.087890625px;
	height: 2px;
}


.new {
	top: 0px;
	left: 26px;
	width: 37px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

.groupe_28 {
	top: 186.4482421875px;
	left: 18.9453125px;
	width: 75.0546875px;
	height: 14.5517578125px;
}

.icon_awesome_home {
	top: 0px;
	left: 0px;
	width: 18.1357421875px;
	height: 14.10302734375px;
}


.home {
	top: 1px;
	left: 41px;
	width: 45px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}

.groupe_32 {
	top: 676px;
	left: 18.9453125px;
	width: 87.0546875px;
	height: 14px;
}

.icon_open_account_logout {
	top: 0px;
	left: 0px;
	width: 15.5869140625px;
	height: 13.638671875px;
}


.log_out {
	top: 0px;
	left: 41px;
	width: 57px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


.rectangle_40 {
	top: 150px;
	left: 280px;
	width: 910px;
	height: 432px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(0,0,0,255);
}


.notes {
	top: 188px;
	left: 324px;
	width: 65px;
	height: 31.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


.rectangle_41 {
	top: 233px;
	left: 881px;
	width: 253px;
	height: 298px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #cece15;
	background:rgba(0,0,0,255);
}


.rectangle_42 {
	opacity:0.1794;
	top: 244px;
	left: 324px;
	width: 251px;
	height: 296px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(206,206,21,255);
}


.rectangle_43 {
	opacity:0.1828;
	top: 244px;
	left: 603px;
	width: 251px;
	height: 296px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(206,206,21,255);
}


.untitled {
	top: 262px;
	left: 350px;
	width: 71px;
	height: 28px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


.untitled_ek1 {
	top: 262px;
	left: 628px;
	width: 71px;
	height: 28px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}

.icon_feather_plus_circle_ek1 {
	top: 298.4453125px;
	left: 964.4453125px;
	width: 80.109375px;
	height: 80.109375px;
}

.trac__16_ek1 {
	top: -3px;
	left: -3px;
	width: 86.109375px;
	height: 86.109375px;
}


.trac__17_ek1 {
	top: 21px;
	left: 37px;
	width: 6px;
	height: 38.0439453125px;
}


.trac__18_ek1 {
	top: 37px;
	left: 21px;
	width: 38.0439453125px;
	height: 6px;
}


.create_new__one {
	top: 409.5546875px;
	left: 932.5px;
	width: 145px;
	height: 69px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color:#cece15;
}


.bonjour__greenote_team___ {
	top: 80px;
	left: 285px;
	width: 300px;
	height: 38px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#cece15;
}


._13_10_2022 {
	top: 86px;
	left: 1113px;
	width: 74px;
	height: 23px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}

.groupe_31 {
	top: 225px;
	left: 20.37109375px;
	width: 130.62890625px;
	height: 17.466796875px;
}

.shared_with_me {
	top: 1px;
	left: 40px;
	width: 102px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}


.icon_awesome_share_alt {
	top: 0px;
	left: 0px;
	width: 15.99609375px;
	height: 17.466796875px;
}


.greenote {
	top: 727px;
	left: 56px;
	width: 170px;
	height: 122px;
	overflow: hidden;
	font-family: Mightyline;
	font-size: 76px;
	text-align: left;
	color:#ffffff;
}

.groupe_30 {
	top: 302.02197265625px;
	left: 22.7158203125px;
	width: 68.2841796875px;
	height: 16.9638671875px;
}
.icon_ionic_ios_trash {
	top: 0px;
	left: 0px;
	width: 12.01953125px;
	height: 16.9638671875px;
}

.trac__22 {
	top: 3px;
	left: 1px;
	width: 10.7353515625px;
	height: 14.13671875px;
}


.trac__23 {
	top: 0px;
	left: 0px;
	width: 12.01953125px;
	height: 2.3857421875px;
}


.trash {
	top: 2px;
	left: 37px;
	width: 42px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}

.groupe_29 {
	top: 264.1669921875px;
	left: 20.37109375px;
	width: 78.62890625px;
	height: 15.66552734375px;
}

.icon_metro_download {
	top: 0px;
	left: 0px;
	width: 16.7099609375px;
	height: 15.66552734375px;
}


.import {
	top: 1px;
	left: 40px;
	width: 50px;
	height: 21.5px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color:#ffffff;
}



/* Add your custom CSS here */
