
.new {
    display: flex;
    height: 40px;
    width: 100px;
    align-items:center;

    .text3 {
        height: 100%;
        width: 100%;
        max-width: 100%; 
        min-width:1px;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        text-decoration: inherit;
        text-align: inherit;
        list-style: inherit;
        font-size: inherit;
        line-height: 54px;
        /* identical to box height */
        color: rgba(255, 255, 255, 0.65);
        border-width: 0px;
        border-color: #2f2d2d;
        border-image: none;
        background-color: #2f2d2d;
        outline: none;
    }
}


.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
    text-decoration-color:aliceblue;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.breeSerif{
    font-family: 'Bree Serif'
}
.georgia{
    font-family: 'Georgia';
}
.palatinoLinotype{
font-family: 'Palatino Linotype';
}
.timesNewRoman{
    font-family: "Times New Roman", Times, serif;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.arialBlack{
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
.asap{
    font-family: 'Asap';
}
.comicSansMs{
    font-family: 'Comic Sans MS';
}
.impact{
    font-family: 'Impact';
}
.lucidaSansUnicode{
    font-family: "Lucida Sans Unicode";
}
.tahoma{
    font-family: Tahoma;
}
.trebuchet MS{
    font-family: "Trebuchet MS";
}
.verdana{
    font-family: Verdana;
}
.courierNew{
    font-family: "Courier New";
}
.lucidaConsole{
    font-family: "Lucida Console";
}
.heading1{
    font-size: larger;
}
.heading2{
    font-size: medium;
}
.heading3{
    font-size: small;
}

    