
.new {
    display: flex;
    height: 40px;
    width: 100px;
    align-items:center;

    .text3 {
        height: 100%;
        width: 100%;
        max-width: 100%; 
        min-width:1px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 54px;
        /* identical to box height */
        color: rgba(255, 255, 255, 0.65);
        border-width: 0px;
        border-color: #2f2d2d;
        border-image: none;
        background-color: #2f2d2d;
        outline: none;
    }
}


.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.listul{
    list-style: square;
}
.li {
    font: 1rem 'Fira Sans', sans-serif;
    margin-bottom: .5rem;
}
.BreeSerif{
    font-family: 'Bree Serif'
}
.Georgia{
    font-family: 'Georgia';
}
.PalatinoLinotype{
font-family: 'Palatino Linotype';
}
.TimesNewRoman{
    font-family: "Times New Roman", Times, serif;
}
.Arial{
    font-family: Arial, Helvetica, sans-serif;
}
.ArialBlack{
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}
.asap{
    font-family: 'Asap';
}
.style{
    font-family: 'Comic Sans MS';
}
.impact{
font-family: 'Impact';
}
.LucidaSansUnicode{
    font-family: "Lucida Sans Unicode";
}
.Tahoma{
    font-family: Tahoma;
}
.Trebuchet MS{
    font-family: "Trebuchet MS";
}
.Verdana{
    font-family: Verdana;
}
.couriernew{
    font-family: "Courier New";
}
.LucidaConsole{
    font-family: "Lucida Console";
}

    